.env
target
out
/.bsp
.bloop/
.direnv
.history
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.DS_Store
.metals
.vscode
metals.sbt
/plutus-conformance
scalus-plugin/src/main/shared
cardano-cli
cardano-address
scripts/
blocks/
utxos
package-lock.json
website/static/api
