target
/.bsp
.bloop/
/.idea
/.idea_modules
/.classpath
/.project
/.settings
.DS_Store
.metals
.vscode
.direnv
metals.sbt
/plutus-conformance
mnemonic.txt
cardano-cli
cardano-address
blockfrost_api_key.txt
